@use "variables" as *;
@use "mixins";

.modal {
  @include mixins.sublayer;
  // height: max-content;
  position: absolute;
  display: none;
  justify-content: center;
  background-color: $overlayBackground;
  z-index: 100;
  padding-top: 5vh;
  padding-bottom: 5vh;
  box-sizing: border-box;

  &_active {
    display: flex;
  }

  &__container {
    @include mixins.container;
    @include mixins.flex(column);
    gap: 2.4rem;
    background-color: $background;
    border-radius: 3rem;
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90vh;
    overflow-y: auto;
    padding: 2.4rem 2.4rem 2.4rem;
    margin: auto;
    width: 100%;
    max-width: 55rem; // 880px

    // Только для карточки товара
    & > .card_full {
      width: 55rem; // 880px
      height: 40.3125rem; // 645px
      border-radius: 3.75rem; // 60px
      box-sizing: border-box;
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
  }

  &__actions {
    @include mixins.flex(row);
    align-items: center;
    gap: 2rem;
  }

  &__close {
    position: absolute;
    top: calc(#{$defaultPadding} / 2);
    right: calc(#{$defaultPadding} / 2);
    @include mixins.icon(2rem, 'close');
    @include mixins.link(white, $hover);
  }

  &__footer {
    @include mixins.flex(row);
    align-items: center;
    gap: 2rem;
  }

  &__message {
    white-space: nowrap;
    max-width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;

    &_error {
      color: $error;
    }
  }
}